@charset "UTF-8";

hr{
	margin-top:0;
	margin-bottom:50px;
}
.blog {
    padding: 118px 0 185px 0;
}
.testimonials{
	padding: 118px 0 0 0;
}

.blog .entry {
  padding: 30px;
  margin-bottom: 60px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.portfolio-item{
	margin-top: 25px;
}


/* .portfolio #portfolio-flters{
	text-align: left;
} */
.blog-pagination{
	margin-top: 25px;
}

.swiper-wrapper{
	/* height: 65%; */
}

.post-card{
	margin-bottom : 5%;
}

.post-title{
	margin : 5%;
}

.post-date > i {
	margin-right:5%
}

.btn-write{
	float:right;
	background: #4154f1;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: #fff;

}
.btn-write:hover {
  color: #fff;
  background: #5969f3;
}
.btn-reply{
	background-color: #4154f1;
	background: #4154f1;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: #fff;
}

.btn-reply:hover {
  color: #fff;
  background: #5969f3;
}
.btn-set{
	text-align: center;
	margin-top:5%;
}

.border{
	padding:10%;
}

.blog .blog-comments .comment .comment-img img{
	
 border-radius: 50%;
	
}
