@charset "UTF-8";

hr{
	margin-top:0;
	margin-bottom:50px;
}
.blog {
    padding: 0px 0 185px 0;
}
.testimonials{
	padding: 118px 0 0 0;
}
.section-header{
	padding: 118px 0 40px 0;
	margin-bottom: 40px;
}
.blog .entry {
  padding: 30px;
  margin-bottom: 60px;
  box-shadow: 0 0px 0px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.show-form{
	margin: 20px 0 0 0;
}
.portfolio-item{
	margin-top: 25px;
}

.portfolio-details .portfolio-info{
	 padding: 20px;
}

.portfolio-details .portfolio-description {
    padding: 30px;   
    /* height: 250px; */
    word-wrap:break-word;
    overflow-y: auto;
    border-bottom: 1px solid #eee;
}
.reply-box{
	padding: 30px;
    word-wrap:break-word;
    overflow-y: auto;
    font-weight: 600;
   
}
.review-box{
	 
}

.user-box{
	padding: 20px;
	box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
}

.show-reply{
	margin : 15px 0 15px 0;
}

.heart-like{
	color:#333;
}

.heart-like:hover{
	transition-duration: 0.5s;
	background: #dc3545;
    -webkit-background-clip: text;
    color: transparent;
}
.heart-hate{
	color:#dc3545;
}

.heart-hate:hover{
	transition-duration: 0.5s;
    color: rgba(220, 53, 69,0.5);
}
.direct {
	color:#333;
}
.direct:hover{
	cursor:pointer;
	transition-duration: 0.5s;
	background: #4154f1;
    -webkit-background-clip: text;
    color: transparent;
}
.instargram{
	color: #444;
}
.instargram:hover {
	transition-duration: 0.5s;
	background: linear-gradient(to bottom, #fcbf74, #ec84b0);
    -webkit-background-clip: text;
    color: transparent;
}
.icon-box{
	margin-bottom: 20px;
}

.show-box{
	
	box-shadow: 0px 0 30px rgb(1 41 112 / 8%);
}
.reply-form{
	position: relative;
}
.btn-reply{
	position : absolute;
	top:0px;
	right: 0px;
	
}
.btn-reply:hover{
	background-color: #fff;
}
.d-flex{
	padding:5px;
}
/* .portfolio #portfolio-flters{
	text-align: left;
} */

.swiper-slide {
   /*  padding: 30px; */
   
}

.swiper-slide img {
	    max-height: 600px;
     object-fit: contain; 
}

.recent-blog-posts .post-box{
	padding: 0px;
}

.post-box:hover{
	
}

.post-info{
	padding:0px 15px 5px 15px;
}

.portfolio-details .portfolio-details-slider img {
    /* width: 40%;
    object-fit: scale-down; */
}
.blog-pagination{
	margin-top: 25px;
}

.swiper-wrapper{
	/* height: 65%; */
}

.comment-form{
	margin-top: 10px;
}

.post-card{
	margin-bottom : 5%;
}

.post-title{
	margin : 5%;
}

.post-date > i {
	margin-right:5%
}

.review-img{
	    overflow: hidden;
    margin: 0px 0px 15px 0px;
    position: relative;
    height: 300px;
    text-align: center;
}

.post-type{
	font-size: 16px;
    font-weight: 600;
    color: rgba(1, 41, 112, 0.6);
    display: block;
    margin-bottom: 10px;
}
.btn-write{
	float:right;
	background: #4154f1;
    padding: 8px 20px;
    margin-left: 30px;
    border-radius: 4px;
    color: #fff;

}
.btn-write:hover {
  color: #fff;
  background: #5969f3;
}


.btn-reply:hover {
  color: #fff;
  background: #5969f3;
}
.btn-set{
	text-align: right;
	margin-top:5%;
}

.border{
	padding:10%;
}

.blog .blog-comments .comment .comment-img img{
	
 border-radius: 50%;
	
}

.recent-blog-posts .post-box .post-img {
    overflow: hidden;
    margin: 0px 0px 15px 0px;
    position: relative;
    height: 300px;
    text-align: center;
}
.recent-blog-posts .post-box .post-img img {
    transition: 0.5s;
    object-fit: scale-down;
    height: 100%;
}

.post-date-right {
    font-size: 16px;
    font-weight: 600;
    color: rgba(1, 41, 112, 0.6);
    display: block;
    margin-bottom: 10px;
    text-align: right;
}
.post-date{
	/* text-align: center; */
	
}

.img-fluid {
    /* max-width: 100%; */
    height: auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.map-set{
	margin-top:5%;
	
}

/* coutom overlay*/
 .wrap {position: absolute;left: 0;bottom: 40px;width: 288px;height: 132px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
    .wrap * {padding: 0;margin: 0;}
    .wrap .info {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
    .wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
    .info .title {padding: 5px 0 0 10px;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
    .info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
    .info .close:hover {cursor: pointer;}
    .info .body {position: relative;overflow: hidden;}
    .info .desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
    .desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
    .desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
    .info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
    .info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
    .info .link {color: #5085BB;}
/* custom overlay*/

html{
    height: 100%;
    width: 100%;
    
}
/* body{
  background: linear-gradient(90deg, #b9deed, #efefef);
  margin: 0;
  padding: 0;
}
 *//* 
.form-margin{
	margin-bottom: 1.5rem;
}

.main{
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
}
.column{
  flex-basis: 1 10px;
  width: calc(100% / 3 - 10px);
  margin: 5px;
  padding: 0;
}
figure {
  position: relative; 
  overflow: hidden;
  margin: 0;
  height: 100%;
  width: 100%;
  filter: grayscale(.8);
}
figure img{
  width: 100%;
  height: 100%;
}
figure::before {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  display: block;
  content: '';
  width: 0;
  height: 0;
  background: rgba(0,0,0,.2);
  border-radius: 100%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
figure:hover{
  animation: bloom ease-in-out .75s forwards;
}
figure:hover::before {
  animation: circle .75s;
}
@keyframes bloom {
  0% {
    filter: grayscale(.8);
  }
  40% {
    filter: grayscale(.5);
  }
  100% {
    filter: grayscale(0);
  }
}
@keyframes circle {
  0% {
    opacity: .5;
    background: rgba(213,156,34,.2);
    
  }
  40% {
    opacity: 1;
    background: rgba(213,34,160,.2);
  }
  100% {
    width: 200%;
    height: 200%;
    opacity: 0;
  }
}
 */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
figure.snip1200 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 220px;
  max-width: 310px;
  max-height: 310px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  font-size: 16px;
}
figure.snip1200 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}
figure.snip1200 img {
  max-width: 100%;
  position: relative;
  opacity: 0.9;
}
figure.snip1200 figcaption {
  position: absolute;
  top: 45%;
  left: 7%;
  right: 7%;
  bottom: 45%;
  border: 1px solid white;
  border-width: 1px 1px 0;
}
figure.snip1200 .heading {
  overflow: hidden;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  position: absolute;
  bottom: 0;
  width: 100%;
}
figure.snip1200 h5 {
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: 400;
}
figure.snip1200 h5 span {
  font-weight: 800;
}
figure.snip1200 h5:before,
figure.snip1200 h5:after {
  position: absolute;
  display: block;
  width: 1000%;
  height: 1px;
  content: '';
  background: white;
  top: 50%;
}
figure.snip1200 h5:before {
  left: -1000%;
}
figure.snip1200 h5:after {
  right: -1000%;
}
figure.snip1200 p {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  width: 100%;
  padding: 0 20px;
  margin: 0;
  opacity: 0;
  line-height: 1.6em;
  font-size: 0.9em;
}
figure.snip1200 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}
figure.snip1200:hover img,
figure.snip1200.hover img {
  opacity: 0.25;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
figure.snip1200:hover figcaption,
figure.snip1200.hover figcaption {
  top: 7%;
  bottom: 7%;
}
figure.snip1200:hover p,
figure.snip1200.hover p {
  opacity: 1;
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}


