<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
    <title>Login Demo - Kakao JavaScript SDK</title>

</head>
<body>
	<a href="javascript:kakaoLogin()"><img src="https://play-lh.googleusercontent.com/8_0SDfkFXAFm12A7XEqkyChCdGC055J6fC8JR7qynNuO3qNOczIoNHo4U4lad8xYMJOL"></a>
   <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
   <script>
   //9af5bb49e91b4be276f23399b1d13feb
   window.Kakao.init("9af5bb49e91b4be276f23399b1d13feb");
   
   function kakaoLogin() {
	   window.Kakao.Auth.login({
		  scope:'profile, account_email,gender',
		  success : funtion(auth0bj) {
			  console.log(auth0bj);
			  window.Kakao.API.request({
				  url:'/v2/user/me',
				  success : res => {
					  const kakao_account = res.kakao_account;
					  console.log(kakao_account);
				  }
			  });
		  }
	   });
   }
   </script>
</body>
</html>